[build]
  publish = "public"
  command = ""  # empty if you are not building anything

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/index.html"
  [headers.values]
    Cache-Control = "public, max-age=60" # cache 60 seconds
